In [1]:
import numpy as np
import pandas as pd

In [6]:
task_df = pd.read_csv('../data/processed/sample_task_data.csv')
task_df

,p_number,ipad_number,t1_type,t1_success,t1_numWords,t2_type,t2_success,t2_numWords,t3_type,t3_success,...,t7_numWords,t8_type,t8_success,t8_numWords,t9_type,t9_success,t9_numWords,t10_type,t10_success,t10_numWords
0,1,1,3,True,6,2,True,4,2,True,...,4,3,True,2,3,True,11,2,True,2
1,2,2,3,True,7,3,True,7,3,True,...,5,3,True,3,3,False,2,3,True,7
2,3,3,2,True,3,2,True,4,2,True,...,3,3,True,2,2,True,8,3,True,3
3,4,1,3,True,3,3,True,6,3,True,...,1,2,True,2,0,False,0,3,True,3
4,5,2,3,True,4,2,True,4,2,True,...,1,3,True,4,3,False,5,2,True,3
5,6,3,2,True,6,3,True,5,2,True,...,6,3,True,2,3,True,2,2,True,8
6,7,1,2,True,3,2,True,4,3,True,...,6,3,True,2,3,True,13,2,True,5
7,8,2,2,True,4,2,True,3,2,True,...,5,3,True,2,2,True,11,2,True,6
8,9,3,3,True,6,3,True,6,3,True,...,4,3,True,5,3,True,11,3,True,6
9,10,1,2,True,4,2,True,3,2,True,...,4,3,True,2,2,True,7,3,True,6
10,11,2,3,True,6,3,True,6,3,True,...,7,3,True,2,3,True,11,3,True,6
11,12,3,3,True,5,2,True,3,3,True,...,4,3,True,4,3,True,3,3,True,5
12,13,1,3,True,4,3,True,5,3,True,...,5,3,True,5,3,True,9,3,True,7
13,14,2,2,True,4,2,True,5,3,True,...,5,3,True,2,2,False,3,3,True,5
14,15,3,3,True,5,3,True,6,3,True,...,5,3,True,3,3,True,13,3,True,7
15,16,1,2,True,4,2,True,4,2,True,...,4,3,True,4,3,True,10,3,True,3
16,17,2,3,True,5,3,True,7,3,True,...,5,3,True,4,3,True,4,3,True,3

 ## Mean Answer Length ##

In [3]:
task_df[["t1_numWords","t2_numWords","t3_numWords","t4_numWords","t5_numWords","t6_numWords","t7_numWords","t8_numWords","t9_numWords","t10_numWords"]].mean()

t1_numWords     4.647059
t2_numWords     4.823529
t3_numWords     4.647059
t4_numWords     6.352941
t5_numWords     5.529412
t6_numWords     5.117647
t7_numWords     4.352941
t8_numWords     2.941176
t9_numWords     7.235294
t10_numWords    5.000000
dtype: float64

## Number of Failed Tasks ##

In [21]:
for label, contents in task_df[["t1_success","t2_success","t3_success","t4_success","t5_success","t6_success","t7_success","t8_success","t9_success","t10_success"]].items():
    print(contents.value_counts(), "\n\n")

True    17
Name: t1_success, dtype: int64


True    17
Name: t2_success, dtype: int64


True    17
Name: t3_success, dtype: int64


True    17
Name: t4_success, dtype: int64


True    17
Name: t5_success, dtype: int64


True     16
False     1
Name: t6_success, dtype: int64


True    17
Name: t7_success, dtype: int64


True    17
Name: t8_success, dtype: int64


True     13
False     4
Name: t9_success, dtype: int64


True    17
Name: t10_success, dtype: int64

# Screen Size #

In [24]:
small_df = task_df[task_df["ipad_number"] == 1]
med_df   = task_df[task_df["ipad_number"] == 2]
large_df = task_df[task_df["ipad_number"] == 3]

In [25]:
small_df[["t1_numWords","t2_numWords","t3_numWords","t4_numWords","t5_numWords","t6_numWords","t7_numWords","t8_numWords","t9_numWords","t10_numWords"]].mean()

t1_numWords     4.000000
t2_numWords     4.333333
t3_numWords     4.333333
t4_numWords     6.333333
t5_numWords     4.833333
t6_numWords     5.000000
t7_numWords     4.000000
t8_numWords     2.833333
t9_numWords     8.333333
t10_numWords    4.333333
dtype: float64

In [26]:
med_df[["t1_numWords","t2_numWords","t3_numWords","t4_numWords","t5_numWords","t6_numWords","t7_numWords","t8_numWords","t9_numWords","t10_numWords"]].mean()

t1_numWords     5.000000
t2_numWords     5.333333
t3_numWords     5.000000
t4_numWords     6.666667
t5_numWords     6.166667
t6_numWords     4.500000
t7_numWords     4.666667
t8_numWords     2.833333
t9_numWords     6.000000
t10_numWords    5.000000
dtype: float64

In [27]:
large_df[["t1_numWords","t2_numWords","t3_numWords","t4_numWords","t5_numWords","t6_numWords","t7_numWords","t8_numWords","t9_numWords","t10_numWords"]].mean()

t1_numWords     5.0
t2_numWords     4.8
t3_numWords     4.6
t4_numWords     6.0
t5_numWords     5.6
t6_numWords     6.0
t7_numWords     4.4
t8_numWords     3.2
t9_numWords     7.4
t10_numWords    5.8
dtype: float64